.main-container {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	color: var(--color);
}

.main-container > div {
	padding: 4.375rem 2.813rem;
}

.main-container__item--main {
	height: 100vh;
	background-image: url('./../../../public/images/landingPage-background.jpg');
	background-size: 100rem;
	background-position: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
